* {
    box-sizing:border-box;
}
html, body{
    padding: 0;
    margin:0;
    font-family: Ubuntu, serif;
    height:100vh;

}
main {
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}
.navtopbar{
display:flex;
align-items: center;
justify-content: center;
}
.navtopbar img{
size: 2vw;
}
.main--contenttop{
justify-content: flex-start;


}
.cloak{
height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
  
}
.navbar_wrapper{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;
    bottom: 0;
    height: 80px;
    background-color: #c1c1c1;
    border: 2px solid black;

}
.navbar_wrapper img{
max-width: 4em;
height: auto;
}

.navbar_wrapper a {
display: flex;
justify-content: center;
align-items: center;
}

.navbar-links:hover {
color:grey;
}
.links a{
    margin-right: 10px;

}
h1{
   /* font-size: 28px;*/
   font-size: 2.5vw;
    position: absolute;
    top:0;
    width:fit-content;
  border-bottom: solid 0.5vh #022663;
  
    }
.searchwrapper{
    display: flex;
    background-color:#F0F0F0;
    justify-content: center;
    align-items: center;
    padding: 1.2vh 2vw;
    font-size:1.2vw;
   /* font-size: 20px;*/
    width:fit-content;
    margin:20px;

}
.searchwrapper img{
margin-right: 10px;
width: 1.1vw;
}
.searchwrapper a{
    text-decoration:none;
    color:rgb(21, 21, 21);
   
}

.todo{
position:relative;
display:flex;
justify-content: center;
padding: 20px;
font-size: 1vw;
}
.searchwrapperwithback img{
    margin-right: 10px;
    width: 1.1vw;
}
.searchwrapperwithback{
    display: flex;
    background-color:#F0F0F0;
    justify-content: center;
    align-items: center;
    padding: 1.2vh 2vw;
    font-size:1.2vw;
   /* font-size: 20px;*/
    width:fit-content;
    margin:20px;
    
}

.searchwrapperwithback a{
    text-decoration: none;
    color:black;
}

.back img{
    display: flex;
    padding: 1.2vh 2vw;
    width: 6.2vw;

}
.map img{
    display:flex;
    padding: 1vh 1vw;
    /*width: 30vw;*/
    height:60vh;
    max-width:80vw;
}